/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.portfolio-item {
  position: relative;
  margin-bottom: 25px;
  height:425px;
}

.bottom {
  position: absolute;
  bottom: 50px;
}

.bottom-buttons {
  position: absolute;
  bottom: 10px;
}